@keyframes registerpage {
  0% {background-color: skyblue;}
  100% {background-color: pink;}
}

@keyframes loginpage {
  0% {background-color: pink;}
  100% {background-color: skyblue;}
}

#wrapper {
  animation-duration: 0.5s; 
  animation-fill-mode: forwards; /* när animationen är slut, behåll den sista property*/
}

#doggies {
  display: none;
}

#name_bar {
  display: none;
} 

.registration{
  background-color: pink;
}

.login{
  background-color: skyblue;
}